.topic-post p:last-child {
	margin-bottom: 0;
}

.vote-up, .vote-down {
	font-size: 72px;
	line-height: 20px;
}

.votes-count {
	font-size: 24px;
}

.bookmark {
	font-size: 27px;
	line-height: 20px;
}
